<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: rgb(215, 208, 206);
    }

    .table_container {
        padding: 10px 15px;
    }

    .title {
        text-align: center;
        font-size: 30px;
    }
</style>

<body>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="/create">Create User</a></li>

    </ul>
        <div class="table_container">
            <div class="title">User List</div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
                <% listUser.forEach(function(user){ %>
                    <tr>
                        <td><%= user.ID %></td>
                        <td><%= user.EMAIL %></td>
                        <td><%= user.NAME %></td>
                        <td><%= user.CITY %></td>
                        <td>
                            <button>Edit</button>
                            <button>Delete</button>
                        </td>
                    </tr>
                <% }) %>
                <!-- <% for (let i=0; i < listUser.length; i++ ) { %>
                    <tr>
                        <td><%= listUser[i].id %></td>
                        <td><%= listUser[i].email %></td>
                        <td><%= listUser[i].name %></td>
                        <td><%= listUser[i].city %></td>
                        <td>
                            <button>Edit</button>
                            <button>Delete</button>
                        </td>
                    </tr>
                <% } %> -->
                
            </table>
        </div>
</body>

</html>